<form (ngSubmit)="cadastrarContato()">

    <div class="form-group">
        <label>Nome</label>
        <input id="nome" name="nome" [(ngModel)]="contato.nome" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Telefone</label>
        <input id="telefone" name="telefone" [(ngModel)]="contato.telefone" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>E-mail</label>
        <input id="email" name="email" [(ngModel)]="contato.email" type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Cadastrar Contato</button>

</form>